:root {
  --color-gris-claro: #e7e7e7;
  --color-gris-oscuro: #2d2d2d;
  --color-negro: #222222;
  --color-blanco: #fff;
  --color-naranja: #ff6600;
  --color-verde: #4caf50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-gris-oscuro);
  background-color: var(--color-gris-claro);
}

#menu {
  width: 290px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -290px;
  background-color: var(--color-gris-oscuro);
  transition: left 0.3s;
  z-index: 9999;
}

#menu ul {
  list-style-type: none;
  padding-top: 60px;
}

#menu a {
  color: inherit;
  text-decoration: none;
}

#menu-footer-wrapper {
  padding-top: 10px;
}

.menu-item,
.menu-footer li {
  position: relative;
  width: 100%;
  line-height: 1.5;
  display: block;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  color: var(--color-gris-claro);
  padding-left: 40px;
}

.menu-item-content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-blanco);
}

.submenu {
  display: none;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: var(--color-gris-oscuro);
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: max-height 0.3s ease-in-out;
  z-index: 9999;
}

.menu-item .submenu {
  max-height: 750px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.menu-item.active .menu-item-content {
  color: var(--color-naranja);
}

.submenu li:first-child {
  margin-top: -40px;
}

.submenu li {
  color: var(--color-gris-claro);
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  list-style-type: none;
  line-height: 3;
  padding-left: 35px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-naranja);
  padding: 15px 0px;
}

.menu-icon,
.logo {
  display: flex;
  flex: 1;
}

.top-section {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  justify-content: flex-start;
  position: absolute;
  left: 15px;
  display: flex;
  justify-content: flex-start;
}

.menu-icon img {
  height: auto;
}

.logo {
  flex: 2;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 146px;
  height: auto;
  margin: 10px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  max-width: 319px;
  margin: 14px auto 0 auto;
  padding: 0;
}

.actions button {
  padding: 6px 0;
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  width: 160px;
  font-weight: 300;
}

.actions .login-btn {
  background-color: transparent;
  border: 1px solid var(--color-blanco);
  color: var(--color-blanco);
  margin-right: 5px;
}

.actions .register-btn {
  background-color: var(--color-verde);
  border: 1px solid var(--color-verde);
  color: var(--color-blanco);
  margin-left: 5px;
}

/* Menu Hamburguesa */
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-left: 15px;
}

.close-icon img {
  height: 14px;
  width: auto;
  padding-right: 20px;
}

.triangle-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  z-index: 10;
  margin-left: auto;
}

.triangle-icon::before,
.triangle-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.triangle-icon::before {
  border-bottom: 7px solid var(--color-naranja);
  display: none;
}

.triangle-icon::after {
  border-top: 7px solid var(--color-gris-claro);
}

.triangle-icon.active::before {
  display: block;
}

.triangle-icon.active::after {
  display: none;
}

.menu-footer {
  padding: 10px;
  text-align: left;
}

.linea-punteada {
  border: none;
  border-top: 1px dashed var(--color-gris-claro);
  width: 80%;
  margin: 15px auto;
}

.menu-footer ul {
  list-style-type: none;
  padding: 0;
}

.menu-footer ul:first-child {
  margin-top: -50px;
}

.menu-footer li {
  margin-bottom: 10px;
  color: var(--color-gris-claro);
  padding-left: 35px;
  line-height: 0.5;
  font-size: 14px;
  font-weight: 600;
}

/* Secci칩n Promo */
.promo-carousel {
  height: 145px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 100px;
}

.promo-carousel .promo-slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
}

.promo-carousel .promo-slide:first-of-type {
  display: block;
}

.promo-carousel img {
  width: 110%;
  height: 110%;
  display: block;
  cursor: pointer;
  object-fit: cover;
  object-position: center bottom;
}

.promo-carousel .promo-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px 20px;
}

.promo-carousel .promo-text {
  color: var(--color-blanco);
  padding: 0;
  margin: 0;
  border-radius: 5px;
  z-index: 3;
}

.promo-carousel p {
  margin: 0;
  padding: 5px 0;
  font-size: 11px;
  font-weight: 600;
}

.promo-carousel h1 {
  margin-bottom: -5px;
  font-size: 15px;
  font-weight: 600;
}

.promo-carousel .promo-button {
  position: absolute;
  right: 10%;
  bottom: 35%;
  width: 22px;
  height: 20px;
  background-color: var(--color-naranja);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
  transition: background-color 0.3s ease;
}

/* Pasos Registro */
.steps-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.step {
  flex: 1;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}

.step:last-of-type {
  margin-left: 20px;
}

.step-number {
  width: 50px;
  height: 50px;
  background-color: var(--color-naranja);
  color: var(--color-blanco);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 600;
}

/* Encabezado de la secci칩n Promociones */
.promociones-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 15px;
  border-bottom: 2px solid var(--color-naranja);
}

.promociones-header .title {
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 28px;
}

.promociones-header a {
  text-decoration: none;
  color: var(--color-gris-claro);
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 0px;
}

/* Promociones */
.promociones {
  display: flex;
  overflow-x: scroll;
  margin: 20px 17px;
  gap: 20px;
}

.promocion-card {
  transition: box-shadow 0.3s ease;
  position: relative;
  min-width: 265px;
}

.promocion-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.promocion-card:first-child {
  margin-left: 10px;
}

.promocion-card:last-child {
  margin-right: 10px;
}

.promocion-card img {
  max-width: 100%;
  display: block;
}

.promocion-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  background-color: var(--color-naranja);
  box-sizing: border-box;
}

.promocion-title {
  font-weight: bold;
  margin-top: 0;
}

.promocion-description {
  margin-top: 0;
  font-size: 12px;
  font-weight: lighter;
  background-color: #f3f3f3;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
}

/* Encabezado de la secci칩n Destacado */
.destacados-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 15px;
  border-bottom: 2px solid var(--color-naranja);
}

.destacados-header .title {
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 28px;
}

.destacados-header a {
  text-decoration: none;
  color: var(--color-gris-claro);
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 0px;
}

/* Destacados */
.destacados {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.destacados::before,
.destacados::after {
  content: "";
  flex: 0 0 5px;
  height: 1px;
}

.destacado-card {
  position: relative;
  min-width: 265px;
}

.destacado-card img {
  max-width: 100%;
  display: block;
  margin-bottom: 0;
}

.destacado-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  background-color: var(--color-naranja);
  box-sizing: border-box;
}

.destacado-description {
  margin-top: 0;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--color-blanco);
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
}

.destacado-card .image-wrapper {
  position: relative;
  display: inline-block;
}

/* Dise침o Etiqueta */
.badge {
  display: block;
  position: static;
  padding: 5px 10px;
  color: var(--color-blanco);
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(-10deg);
  z-index: 1;
}

.third-card .badge-new {
  width: 65px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badges-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.badge-hot {
  background-color: red;
}

.badge-new {
  background-color: var(--color-naranja);
}

.badge-exclusive {
  background-color: var(--color-gris-oscuro);
}

/* Footer */
footer {
  background-color: var(--color-gris-claro);
  padding: 60px 30px;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-content h2 {
  font-size: 14px;
  color: var(--color-naranja);
  margin-bottom: 15px;
}

.footer-content p {
  font-size: 11px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.footer-content button {
  background-color: var(--color-gris-claro);
  color: var(--color-naranja);
  padding: 5px 20px 5px 10px;
  border: 1px solid var(--color-naranja);
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
  text-align: left;
}

.footer-content button:hover {
  background-color: var(--color-naranja);
  color: var(--color-blanco);
}

.info-button {
  position: relative;
  padding-right: 40px;
}

.info-button .triangle-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.info-button .triangle-icon::before {
  border-bottom: 7px solid var(--color-naranja);
}

.info-button .triangle-icon::after {
  border-top: 7px solid var(--color-naranja);
}

.footer-content button:hover .triangle-icon::before {
  border-bottom: 7px solid var(--color-blanco);
}

.footer-content button:hover .triangle-icon::after {
  border-top: 7px solid var(--color-blanco);
}
