#menu,
.submenu {
  background-color: var(--color-gris-oscuro);
  z-index: 9999;
}
.menu-item .submenu,
.submenu {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}
.menu-item-content,
.submenu li {
  font-weight: 600;
  font-size: 14px;
}
.logo img,
.menu-icon img {
  height: auto;
}
#menu ul,
.menu-footer ul,
.submenu,
.submenu li {
  list-style-type: none;
}
:root {
  --color-gris-claro: #9e9e9e;
  --color-gris-oscuro: #2d2d2d;
  --color-negro: #222222;
  --color-blanco: #efefef;
  --color-naranja: #ff6600;
  --color-verde: #4caf50;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-gris-oscuro);
  background-color: var(--color-blanco);
}
h2 {
  font-size: 14px;
  color: var(--color-naranja);
  margin-bottom: 15px;
}
#menu {
  width: 290px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -290px;
  transition: left 0.3s;
}
#menu ul {
  padding-top: 60px;
}
#menu a {
  color: inherit;
  text-decoration: none;
}
#menu-footer-wrapper {
  padding-top: 10px;
}
.menu-footer li,
.menu-item {
  position: relative;
  width: 100%;
  line-height: 1.5;
  display: block;
  align-items: center;
  cursor: pointer;
  padding: 10px 0 10px 40px;
  color: var(--color-gris-claro);
}
.actions .login-btn,
.actions .register-btn,
.badge,
.footer-content button:hover,
.menu-item-content,
.step-number {
  color: var(--color-blanco);
}
.menu-item-content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.submenu,
.triangle-icon::before {
  display: none;
}
.submenu {
  width: 100%;
  max-height: 0;
  padding: 0;
  margin: 0;
}
.logo,
.menu-icon,
.navbar,
.top-section {
  display: flex;
}
.menu-item .submenu {
  max-height: 750px;
}
.footer-links a,
.menu-item.active .menu-item-content {
  color: var(--color-naranja);
}
.menu-footer li,
.submenu li {
  color: var(--color-gris-claro);
}
.submenu li:first-child {
  margin-top: -40px;
}
.submenu li {
  cursor: pointer;
  line-height: 3;
  padding-left: 35px;
}
.navbar {
  flex-direction: column;
  align-items: center;
  background-color: var(--color-naranja);
  padding: 15px 0;
}
.logo,
.menu-icon {
  display: flex;
  flex: 1;
}
.top-section {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.menu-icon {
  justify-content: flex-start;
  position: absolute;
  left: 15px;
  justify-content: flex-start;
}
.logo {
  flex: 2;
  justify-content: center;
}
.actions,
.menu-header {
  justify-content: space-between;
  display: flex;
}
.logo img {
  width: 146px;
  margin: 10px 0;
}
.actions {
  max-width: 319px;
  margin: 14px auto 0;
  padding: 0;
}
.actions button {
  padding: 6px 0;
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  width: 160px;
  font-weight: 300;
}
.actions .login-btn {
  background-color: transparent;
  border: 1px solid var(--color-blanco);
  margin-right: 5px;
}
.actions .register-btn {
  background-color: var(--color-verde);
  border: 1px solid var(--color-verde);
  margin-left: 5px;
}
.info-button .triangle-icon::before,
.triangle-icon::before {
  border-bottom: 7px solid var(--color-naranja);
}
.menu-header {
  align-items: center;
  padding-top: 12px;
  padding-left: 15px;
}
.close-icon img {
  height: 14px;
  width: auto;
  padding-right: 20px;
}
.triangle-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  z-index: 10;
  margin-left: auto;
}
.triangle-icon::after,
.triangle-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.triangle-icon::after {
  border-top: 7px solid var(--color-gris-claro);
}
.promo-carousel .promo-slide:first-of-type,
.triangle-icon.active::before {
  display: block;
}
.triangle-icon.active::after {
  display: none;
}
.menu-footer {
  padding: 10px;
  text-align: left;
}
.partnerimg,
.step {
  text-align: center;
}
.linea-punteada {
  border: none;
  border-top: 1px dashed var(--color-gris-claro);
  width: 80%;
  margin: 15px auto;
}
.menu-footer ul {
  padding: 0;
}
.menu-footer ul:first-child {
  margin-top: -50px;
}
.menu-footer li {
  margin-bottom: 10px;
  padding-left: 35px;
  line-height: 0.5;
  font-size: 14px;
  font-weight: 600;
}
.promo-carousel {
  height: 145px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 100px;
}
.destacados,
.promociones {
  overflow-x: scroll;
  gap: 20px;
}
.image-container {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(-100%);
  z-index: 10;
}
.overlay-button {
  padding: 10px 90px;
  background-color: var(--color-naranja);
  border: none;
  color: #efefef;
  cursor: pointer;
}
.promo-carousel .promo-slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
}
.promo-carousel img {
  width: 110%;
  height: 110%;
  display: block;
  cursor: pointer;
  object-fit: cover;
  object-position: center bottom;
}
.promo-carousel .promo-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px 20px;
}
.promo-carousel .promo-text {
  color: var(--color-blanco);
  padding: 0;
  margin: 0;
  border-radius: 5px;
  z-index: 3;
}
.promo-carousel .promo-button,
.step-number {
  border-radius: 50%;
  background-color: var(--color-naranja);
  display: flex;
}
.promo-carousel p {
  margin: 0;
  padding: 5px 0;
  font-size: 11px;
  font-weight: 600;
}
.promo-carousel h1 {
  margin-bottom: -5px;
  font-size: 15px;
  font-weight: 600;
}
.promo-carousel .promo-button {
  position: absolute;
  right: 10%;
  bottom: 35%;
  width: 22px;
  height: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 4;
  transition: background-color 0.3s;
}
.steps-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.step {
  flex: 1;
  font-weight: 600;
  font-size: 22px;
}
.step:last-of-type {
  margin-left: 20px;
}
.step-number {
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 600;
}
.destacados-header,
.promociones-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 15px;
  border-bottom: 2px solid var(--color-naranja);
}
.destacados-header .title,
.promociones-header .title {
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 28px;
}
.destacados-header a,
.promociones-header a {
  text-decoration: none;
  color: var(--color-gris-claro);
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 0;
}
.promociones {
  display: flex;
  margin: 20px 17px;
}
.promocion-card {
  transition: box-shadow 0.3s;
  position: relative;
  min-width: 265px;
}
.promocion-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.promocion-card:first-child {
  margin-left: 10px;
}
.promocion-card:last-child {
  margin-right: 10px;
}
.promocion-card img {
  max-width: 100%;
  display: block;
}
.destacado-logo,
.promocion-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: var(--color-naranja);
  box-sizing: border-box;
}
.destacado-description,
.promocion-description {
  margin-top: 0;
  font-size: 12px;
  background-color: #efefef;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
}
.promocion-title {
  font-weight: 700;
  margin-top: 0;
}
.promocion-description {
  font-weight: lighter;
}
.destacados {
  display: flex;
}
.destacados::after,
.destacados::before {
  content: "";
  flex: 0 0 5px;
  height: 1px;
}
.destacado-card {
  position: relative;
  min-width: 265px;
}
.destacado-card img {
  max-width: 100%;
  display: block;
  margin-bottom: 0;
}
.destacado-description {
  font-weight: 700;
}
.destacado-card .image-wrapper {
  position: relative;
  display: inline-block;
}
.badge {
  display: block;
  position: static;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(-10deg);
  z-index: 1;
}
.third-card .badge-new {
  width: 65px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badges-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
.badge-hot {
  background-color: red;
}
.badge-new,
.footer-content button:hover {
  background-color: var(--color-naranja);
}
.badge-exclusive {
  background-color: var(--color-gris-oscuro);
}
.footer-content {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--color-blanco);
}
.footer-content p {
  font-size: 11px;
  font-weight: lighter;
  margin-bottom: 10px;
}
.footer-content p:last-of-type {
  margin-bottom: 30px;
}
.footer-content button {
  background-color: var(--color-blanco);
  color: var(--color-naranja);
  padding: 8px 20px 8px 10px;
  margin-bottom: 20px;
  border: 1px solid var(--color-naranja);
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
  text-align: left;
}
.info-button {
  position: relative;
  padding-right: 40px;
}
.info-button .triangle-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: 50% 5%;
}
.info-button.active .triangle-icon {
  transform: rotate(180deg) translateY(-50%);
}
.info-button .triangle-icon::after {
  border-top: 7px solid var(--color-naranja);
}
.footer-content button:hover .triangle-icon::before {
  border-bottom: 7px solid var(--color-blanco);
}
.footer-content button:hover .triangle-icon::after {
  border-top: 7px solid var(--color-blanco);
}
.footer-content .info-text a {
  text-decoration: none;
  color: var(--color-naranja);
}
.my-custom-hr {
  width: 90%;
  margin: 20px auto;
  border: none;
  height: 0.5px;
  background-color: var(--color-gris-claro);
}
.footer-logos,
.footer-small,
.footer-wrapper {
  background-color: #efefef;
}
.footer-second {
  width: 100%;
  padding: 0;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 10px 5px;
}
.footer-links {
  flex: 1;
  padding: 0 15px;
}
.footer-links ul {
  font-size: 12px;
  list-style: none;
  padding: 0;
}
.footer-links ul li {
  margin-bottom: 8px;
  color: var(--color-gris-claro);
}
.footer-links p {
  font-size: 12px;
  color: var(--color-gris-claro);
}
.footer-small a,
.footer-small h2,
.footer-small p {
  font-size: 10px;
  font-weight: lighter;
}
.footer-links button {
  border: 1px solid var(--color-naranja);
  background-color: transparent;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 20px;
  color: var(--color-naranja);
}
.footer-logos {
  padding-top: 5px;
}
.auto-control,
.payment-options,
.safety-logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 15px;
}
.auto-control {
  padding-bottom: 20px;
}
#extra-size-bis img,
.footer-logos img {
  width: 50px;
  height: auto;
}
#extra-size img {
  width: 80px;
  height: auto;
}
.footer-small {
  padding: 2px 30px;
  max-width: 800px;
  margin: 0 auto;
}
.footer-small h2 {
  margin-top: 25px;
}
.footer-small p {
  line-height: 1.5;
  margin-bottom: 10px;
}
.footer-small a {
  color: var(--color-naranja);
  text-decoration: none;
  line-height: 1.5;
}
.footer-small b {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.footer-small .horizontal-line + p {
  margin-top: 20px;
}
.partnerimg {
  display: block;
  width: 250px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}
