:root {
  --color-gris-claro: #d6dddd;
  --color-gris-oscuro: #2d2d2d;
  --color-negro: #222222;
  --color-blanco: #fff;
  --color-naranja: #ff6600;
  --color-verde: #4caf50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-gris-oscuro);
  background-color: var(--color-blanco);
}

#menu {
  width: 290px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -290px;
  background-color: var(--color-gris-oscuro);
  transition: left 0.3s;
}

#menu ul {
  list-style-type: none;
  padding-top: 40px;
}

.menu-item {
  position: relative;
  width: 100%;
  line-height: 1.5;
  display: block; /* Cambia de flex a block */
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  color: var(--color-gris-claro);
}

.menu-item-content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; /* Asegura que ocupe todo el ancho */
  justify-content: space-between; /* Centra el contenido y sitúa el triángulo a la derecha */
}

.menu-item .submenu {
  max-height: 750px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.menu-item.active {
  color: var(--color-naranja);
}

.submenu {
  display: none;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: var(--color-gris-oscuro);
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: max-height 0.3s ease-in-out;
}

.submenu li {
  color: var(--color-gris-claro);
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  list-style-type: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-naranja);
  padding: 15px 20px;
}

.menu-icon,
.logo {
  display: flex;
  flex: 1;
}

.top-section {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  justify-content: flex-start;
  position: absolute;
  left: 5px;
  display: flex;
  justify-content: flex-start;
}

.menu-icon img {
  height: auto;
}

.logo {
  flex: 2;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 146px;
  height: auto;
  margin: 10px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin: 14px auto 0 auto;
}

.actions button {
  padding: 6px 0;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  width: 165px;
  font-weight: 300;
}

.actions .login-btn {
  background-color: transparent;
  border: 1px solid var(--color-blanco);
  color: var(--color-blanco);
}

.actions .register-btn {
  background-color: var(--color-verde);
  border: 1px solid var(--color-verde);
  color: var(--color-blanco);
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
}

.close-icon img {
  height: 14px;
  width: auto;
}

.triangle-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  z-index: 10;
  margin-left: auto;
}

.triangle-icon::before,
.triangle-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.triangle-icon::before {
  border-bottom: 7px solid var(--color-naranja);
  display: none; /* Esconderlo por defecto */
}

.triangle-icon::after {
  border-top: 7px solid var(--color-gris-claro);
}

.triangle-icon.active::before {
  display: block;
}

.triangle-icon.active::after {
  display: none;
}
